.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.0rem 2rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-weight: 300;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.2);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.2);
}

.header-menu > ul {
    list-style-type: none;
    display: flex;
    column-gap: 1.8rem;
    align-items: center;
    justify-content: space-between;
}
.header-menu > ul li {
    cursor: pointer;
    font-weight: 300;
}

.header-menu > ul li:hover {
    cursor: pointer;
    font-weight: 300;
    color: var(--active);
}

.header-menu > ul > li > button {
   color: white;
   background: var(--secondary);
   cursor: pointer;
   border-radius: 3px;
   border: none;
   width: 100px;
   padding: 8px;
   font-weight: 300;
}

.header-menu > ul > li > button:hover {
    background: var(--hover);
    width: 100px;
    color: white;
    border: 1px solid var(--heading);
    cursor: pointer;
    border-radius: 3px;
    border: none;
    padding: 8px;
    font-weight: 300;
}

.form-input {
    width: 25%;
    box-sizing: border-box;
}

.form-input > input::placeholder {
    font-weight: 200;
    color: rgba(4, 4, 43, 0.24);
}

.form-input > input {
    padding: 8px 20px;
    border: 1px solid var(--primary);
    border-radius: 14px;
    width: 100%;
    font-weight: 200;
    justify-self: flex-end;
    margin-left: 1.5rem;
    flex: 1;
}

.form-input > input:focus {
    padding: 8px 20px;
    outline: none;
    border: 1px solid var(--secondary);
    border-radius: 14px;
    width: 100%;
    color: rgba(4, 4, 43, 0.74);
}
