
.footer {
    height: 60px;
    text-align: center;
    background: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    position: sticky;
    position: -webkit-sticky;
}