:root {
  --secondary: rgba(51, 168, 159, 1);
  --primary: #0c1334;
  --sidebar: rgba(251, 251, 251, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 350;
  /* overflow: hidden; */
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content {
  min-height: calc(100vh - 120px);
  padding: 0.5rem 2rem;
}

.section > h4 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 1.2rem 0.5rem 0 0;
} 

.section-content {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.swiper {
  width: 100%;
  height: 460px;
}
.logo {
  font-weight: 600;
  text-transform: uppercase;
}

.slider-unggulan {
  height: 380px;
  border-radius: 8px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: white;
}

footer {
  position: sticky;
  bottom: 0;
  z-index: 9999;
  background: white;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}