:root {
  --secondary:rgb(15 123 106);
  --primary: rgb(1 138 114);
  --sidebar: rgba(251, 251, 251, 1);
  --active: rgb(0 231 191);
  --hover: rgb(12 164 140);
  --text-heading: rgb(0 80 66);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active {
  color: var(--active);
}

.logo > h2 {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 350;
}

.banner {
  display: flex;
  flex-direction: row;
  background-image: url('../components/Banner/images/banner-bg.jpeg');
  width: 100%;
  height: 400px;
  padding: 1rem 2rem;
  align-items: center;
}

.banner .left-menu  {
  width: 50%;
}

.banner .right-menu  {
  position: relative;
  width: 50%;
}

.banner .right-menu .book-display {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translateY(-60%);
  cursor: pointer;
}

.banner .right-menu .image-stand {
  position: absolute;
  margin-right: 1.7rem;
  transform: translateY(72%);
}

.banner .left-menu .heading-banner > h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-heading);
  margin-bottom: 1rem;
}
.banner .left-menu .heading-banner > p {
  font-size: 1rem;
  line-height: 2.5rem;
  font-weight: 200;
  color: var(--text-heading);
}

.banner button.button-banner {
  background-color: var(--secondary);
  color: white;
  font-size: 0.9rem;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 200;
}

.banner .button-banner:hover {
  background-color: var(--hover)
}

.content {
  min-height: calc(100vh - 120px);
  padding: 0.5rem 2rem;
}

.section > h4 {
  font-weight: 330;
  font-size: 1.2rem;
  margin: 1.2rem 0.5rem 0 0;
} 

.section-content {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.product-card .image-rounded {
  border-radius: 8px 8px 0 0;
}

.product-card .image-desc {
  height: 50px;
}

.product-card .info {
  padding: 0.5rem 0.8rem;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card .info .title-book {
  text-align: left;
  font-weight: 350;
  font-size: 1rem;
  line-height: 20px;
}

.product-card .info .author-book small {
  font-weight: 250;
  font-size: 0.8rem;
}

.swiper {
  width: 100%;
  height: 550px;
}
.logo {
  font-weight: 350;
  text-transform: uppercase;
}

.product-card {
  height: 460px;
  border-radius: 8px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  color: white;
  z-index: 9999;
  background:var(--primary);
}

.main-bg {
  /* background: linear-gradient(40deg, rgba(252, 255, 239, 0) -5.57%, #E3F2CD 35.35%, #f4e8d7 62.99%, rgba(255, 247, 220, 0) 100.59%); */
}

footer {
  position: sticky;
  bottom: 0;
  z-index: 9999;
  background: white;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-page {
  background: white;
  background: linear-gradient(180deg, white 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0.024247198879551846) 100%);  
}

.bg-page-80 {
  background: white;
  background: linear-gradient(180deg, white 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0.024247198879551846) 100%);  
}